<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyznfUhFDdR653a-Kz6pWm6WfUmnPRXJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>178956125719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsspot.fsdelivery</string>
	<key>PROJECT_ID</key>
	<string>fsspot-ae02c</string>
	<key>STORAGE_BUCKET</key>
	<string>fsspot-ae02c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178956125719:ios:eff39260f8e40378443e52</string>
</dict>
</plist>